body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.we-fashion-green {
    color: #66EB9A !important;
}

main {
    margin-top: 1em;
    flex: 1 0 auto;
}
.nav-item {
    text-transform: uppercase;
}
i {
    padding-right: 2%;
}
.btn {
    width: 75%;
}
.btn-add {
    width: 50%;
}

/* After section */
.euro::after {
    content: "€";
}
.usd::after {
    content: "$";
}
/* End After section */

