body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    margin-top: 1em;
    flex: 1 0 auto;
}
.nav-item {
    text-transform: uppercase;
}
i {
    padding-right: 2%;
}
/* After section */
.euro::after {
    content: "€";
}
.usd::after {
    content: "$";
}
/* End After section */

