body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.we-fashion-green {
    color: #66EB9A !important;
}

main {
    margin-top: 1em;
    flex: 1 0 auto;
}
.nav-item {
    text-transform: uppercase;
}
i {
    padding-right: 2%;
}
.btn {
    width: 75%;
}
.btn-add {
    width: 50%;
}
input[type=text] { 
    border-bottom: 0.5px solid #666 !important ;
}
textarea {
    border-right: 1px solid #666 !important ;
    border-left: 1px solid #666 !important ;
    border-bottom: 0.3px solid #666 !important ;

}
.price {
    padding: 0% 5% 0% 5%;
}
.preview {
    padding: 15%;
}
/* After section */
.euro::after {
    content: "€";
}
.usd::after {
    content: "$";
}
/* End After section */

